

:root{
    --background: hsl(300, 3%, 7%);
    --foreground: hsl(240, 7%, 97%);
    --primary: #EB178E;
    --secondary: #20CCF1;
    --muted: hsl(180, 2%, 10%);
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--foreground);
    color: var(--foreground);
}


.scroll-margin{
  padding-top: 15vh; /* TO AVOID NAVBAR OVERFLOW. ALL SECTIONS MUST HAVE IT */
}


.navbar {
    background-color: var(--foreground);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: var(--background);
}

.navbar .nav-link:hover {
    color: var(--primary);
}

.btn-custom {
    background-color: var(--primary);
    color: var(--foreground);
    border: none;
}

.btn-custom:hover {
    background-color: var(--secondary);
    color: var(--foreground);
}

/* Card styles */
.card {
  transition: transform 0.3s ease; /* smooth transition */
}

.card:hover {
  transform: scale(1.05); /* increase size 5% */
}



footer {
  background-image: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.9) 0%,       /* casi blanco y muy transparente a la izquierda */
  rgba(235, 23, 142, 0.05) 60%,     /* rosa muy transparente en el centro-izquierda */
  #EB178E 100%                       /* rosa sólido a la derecha */
  );

 
  color: var(--foreground);
  padding: 20px 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left .footer-link {
  display: inline-block;
  background-color: var(--muted);
  color: var(--foreground);
  margin-right: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-left .footer-link:hover {
  background-color: var(--secondary);
  color: var(--background);
}

.footer-right a {
  padding: 0;
  border-radius: 0;
  margin-left: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.footer-right .footer-icon {
  font-size: 1.5rem;
  color: var(--foreground);
  transition: color 0.3s ease;
}

.footer-right a:hover .footer-icon {
  color: var(--secondary);
}

/* Button styling */
.form-btn {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.form-btn:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: black;
}
